/* Attributes Management Modal Styles */

@import url('../../../components/tabs.css');
@import url('../../../components/admin-action-icons.css');
@import url('../../../components/attributes-manager.css');
@import url('./attributes-rules.css');
