<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.whimsicalfrog.autostart</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jongraves/Documents/Websites/WhimsicalFrog/start_servers.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/Users/jongraves/Documents/Websites/WhimsicalFrog/autostart.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/jongraves/Documents/Websites/WhimsicalFrog/autostart.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/jongraves/Documents/Websites/WhimsicalFrog</string>
</dict>
</plist> 